.logo{
    width: 20vw;
    align-self: center;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.navbar,
.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar > li{
    float: right;
    padding-left: 1%;
}
.navbar{
    padding-bottom: 50%;
}
.input_box{
    width: 150%;
    border-radius: 20px;
    box-shadow: none;
}